<p id="notice"><%= notice %></p>

<p>
  <strong>Book:</strong>
  <%= @review.book.titile %>
</p>

<p>
  <strong>Body:</strong>
  <%= @review.body %>
</p>

<p>
  <strong>Usermane:</strong>
  <%= @review.user.username %>
</p>

<%= link_to 'Edit', edit_review_path(@review) %> |
<%= link_to 'Back', reviews_path %>
