<!DOCTYPE html>
<html>
	<div align=right>
		ログインユーザー:<%= session[:name] %>
		<%= link_to 'ログアウト', controller: :login, action: :index %>
 	</div>
  <div align=center>
  <head>
    <title>Railbook</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <font size="7" color="black">Railbook</font><br>
		
    <ul>
      <%= link_to '書籍一覧', books_path %>
      <%= link_to '出版社一覧', publishes_path %>
      <%= link_to 'レビュー一覧', reviews_path %>
      <%= link_to 'ユーザー一覧', users_path %>
    </ul>
  </head>

  <body>
    <%= yield %>
  </body>
</html>